DateTime==4.7
dropbox==11.34.0
opencv-contrib-python-headless==3.4.9.31
os-sys==2.1.4
pandas==1.4.4
Pillow==9.2.0 
pysqlite3==0.4.7
python-csv==0.0.13 
streamlit==1.12.2
tensorflow==2.10.0
numpy==1.23.3 